In [2]:
# Import pandas
import pandas as pd

C:\Users\DEVESH\AppData\Local\Temp\ipykernel_4424\3422465919.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt' , sep = ' ')
print(df)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0    12.240798   14.891   3606     283      2   34         11    Male      No
1    23.283334  106.025   6645     483      3   82         15  Female     Yes
2    22.530409  104.593   7075     514      4   71         11    Male      No
3    27.652811  148.924   9504     681      3   36         11  Female      No
4    16.893978   55.882   4897     357      2   68         16    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
395   8.764984   12.096   4100     307      3   32         13    Male      No
396   9.943838   13.364   3838     296      5   65         17    Male      No
397  14.882078   57.872   4171     321      5   67         12  Female      No
398  12.001071   37.728   2525     192      1   44         13    Male      No
399  10.159598   18.701   5524     415      5   64          7  Female      No

    Married         Ethnicity
0       Yes         Caucasian
1       Yes             Asian
2        No             Asian
3        No             Asian
4       Yes         Caucasian
..      ...               ...
395     Yes         Caucasian
396      No  African American
397     Yes         Caucasian
398     Yes         Caucasian
399      No             Asian

[400 rows x 11 columns]

In [5]:
#CODE to compare the average income based on ethnicity in the dataframe
df.groupby('Ethnicity')['Income'].mean()

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [6]:
#CODE to check if on average married or single people have a higher balance
print("The average balance of married people is:" , round(df[df.Married == "Yes"].loc[:,'Balance'].mean(),2))
print("The average balance of single people is:" , round(df[df.Married == "No"].loc[:, 'Balance'].mean(),2))

The average balance of married people is: 13.39
The average balance of single people is: 13.49

In [ ]:
# ANSWER = on average single people have a higher balance

In [7]:
# CODE to obtain the highest and lowest income in dataset
print("The Highest income in the dataset is:" , df['Income'].max())
print("The Lowest income in the dataset is:" , df['Income'].min())

The Highest income in the dataset is: 186.634
The Lowest income in the dataset is: 10.354

In [8]:
#CODE to calculate the number of cards recorded in the dataset
print("The total number of cards recorded in the dataset is:" , df['Cards'].sum())

The total number of cards recorded in the dataset is: 1183

In [11]:
#CODE to work out how much information is in the dataset about female vs. male
print("The total information about females is:" , df[df['Gender'] == 'Female'].count())
print(" ")
print("The total information about males is:" , df[df['Gender'] == 'Male'].count())

The total information about females is: Balance      207
Income       207
Limit        207
Rating       207
Cards        207
Age          207
Education    207
Gender       207
Student      207
Married      207
Ethnicity    207
dtype: int64

The total information about males is: Balance      193
Income       193
Limit        193
Rating       193
Cards        193
Age          193
Education    193
Gender       193
Student      193
Married      193
Ethnicity    193
dtype: int64

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).